*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #035C8B;
}

.btn{
    margin: 0;
    font-size: 1.5rem;
    margin-top: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 65px;
}

.btn-link{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.btn-link:hover{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.btn-link-text{
    margin-top: 10px;
}