*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #035C8B;
}

h1{
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
}

.form-label{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.form-control{
    font-size: 1.5rem;
    width: 130%;
}

.form-select{
    font-size: 1.5rem;
    width: 130%;
}

.btn{
    font-size: 1.5rem;
    margin-top: 2.5rem;
    width: 250px;
    height: 65px;
}

.btn-text{
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    font-weight: 700;
}