{% extends "usuarios/base.html" %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/usuarios/agendamento/style.css' %}">
{% endblock %}

{% block title %}Agendamento{% endblock %}

{% block content %}
  <div class="container">
    <form action="{% url 'logout' %}" method="POST">
      {% csrf_token %}
      <button class="btn-sair">Sair</button>
    </form>
    {% if error_message %}
        <div class="alert alert-danger">
            {{ error_message }}
        </div>
    {% endif %}
    <form action="{% url 'agendamento' %}" method="POST">
      {% csrf_token %}
      <h1>Realize seu agendamento</h1>
      <div class="col-md-6">
        <label for="estabelecimento" class="form-label text-white">ESTABELECIMENTO DE SAÚDE</label>
        <select class="form-select rounded-pill py-3" id="estabelecimento" name="estabelecimento">
          <option value="">Selecione o estabelecimento</option>
          {% for estabelecimento in estabelecimentos %}
            <option value="{{ estabelecimento.co_unidade }}">{{ estabelecimento.no_fantasia }}, CNES: {{ estabelecimento.co_cnes }}</option>
          {% endfor %}
        </select>

        <label for="data" class="form-label text-white">DATA</label>
        <input type="date" class="form-control rounded-pill py-3" id="data" name="data">
        <button type="submit" class="btn btn-dark rounded-pill">
          <p class="btn-text">VER HORÁRIOS</p>
        </button>
      </form>
    </div>
  </div>
{% endblock %}
