{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/usuarios/favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-0Cp0D5A0iD5LPeaFv/ei7stH5Hq18qMA6nsa6sPsAmA+9aGv8Jn3M9l++fwK7KV5ZIWoJfR7kR0H5DwIKBKpvo1AA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/usuarios/base/style.css' %}">
    {%block style%} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light mb-3">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/usuarios/logo.svg' %}" alt="Logo LAIS">
            </a>
    
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="link" href="/">Home</a></li>
                <li class="nav-item"><a class="link" href="https://lais.huol.ufrn.br/sobre/">Sobre</a></li>
                <li class="nav-item"><a class="link" href="https://lais.huol.ufrn.br/contato/">Contatos</a></li>
                <li class="nav-item"><a class="link" href="https://lais.huol.ufrn.br/comunicacao/#noticias">Noticias</a></li>
                <li class="nav-item"><a class="link" href="https://lais.huol.ufrn.br/internacionalizacao/">LAIS no mundo</a></li>
            </ul>
        </div>
    </nav>
           
    <main class="container flex-grow-1 d-flex flex-column align-items-center justify-content-center">
        {% block content %}{% endblock %}
    </main>
    
    <footer class="bg-dark text-white py-4 mt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2024 LAIS. Todos os direitos reservados.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <a  class="link" href="#">Política de Privacidade</a> | <a class="link" href="#">Termos de Serviço</a>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
