{% extends "usuarios/base.html" %}

{% load static %}

{%block style%} <link rel="stylesheet" href="{% static 'css/usuarios/home/style.css' %}"> {% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2 class="text">Agendamento online para triagem de detecção da covid-19 e suas variantes</h2>
        </div>

        <div class="col-md-6 d-flex flex-column align-items-center">
            <h2 class="text">Você não está autenticado, o que gostaria de fazer?</h2>
            <div class="d-flex">
                <button class="btn btn-dark rounded-pill" style="margin-right: 40px;">
                    <a class="btn-link" href="/login">
                        <p class="btn-link-text">LOGIN</p>
                    </a>
                </button>
                <button class="btn btn-dark rounded-pill" style="margin-left: 40px;">
                    <a class="btn-link" href="/cadastrar">
                        <p class="btn-link-text">CADASTRAR</p>
                    </a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
