{% extends "usuarios/base.html" %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/usuarios/homeLogado/style.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container">
    <button class="btn-sair">Sair</button>
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-title">Agendamento online para triagem de detecção da covid-19 e suas variantes</h2>
      </div>
      <div class="col-md-6">
        <div>
          <h2 class="text-title-outro">Bem-vindo {{ request.user.nome }}</h2>
          <p class="text">Nome: {{ request.user.nome.split.0 }}</p>
          <p class="text">Data de nascimento: {{ request.user.date_nascimento }}</p>
          <p class="text">CPF: {{ request.user.cpf }}</p>
          <p class="text">Agendamento:</p>
          <button class="btn btn-dark rounded-pill">
            <a class="btn-link" href="/agendamento">
              <span class="btn-text">REALIZAR AGENDAMENTO</span>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
