*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #035C8B;
}

.text-title{
    margin: 0;
    font-size: 5rem;
    font-weight: 580;
    color: #fff;
}

.text-title-outro{
    margin-top: 22px;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
}

.text{
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.btn{
    font-size: 1.5rem;
    margin-top: 2.5rem;
    width: 450px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002A40;
}

.btn-link{
    text-decoration: none;
    font-weight: 700;
}
.btn-link:hover{
    text-decoration: none;
    font-weight: 700;
}

.btn-text{
    margin: 0;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
}

.btn-sair {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 1.5rem;
    width: 100px;
    height: 40px;
    background-color: #AF0000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-sair:hover {
    background-color: #920000;
    color: #fff;
}